@font-face {
    font-family: 'DMS-ital';
    src: url('./assets/fonts/DMSans-Italic-VariableFont_opsz\,wght.ttf');
}
@font-face {
    font-family: 'DMS';
    src: url('./assets/fonts/DMSans-VariableFont_opsz\,wght.ttf');
}

    $light-yellow: rgb(249,233,219);
    $light-purple: rgb(211,197,249);
    $dark-purple: rgb(97,53,211);
    $dark-yellow: rgb(294,195,87);
    $background-white: rgb(244,244,244);
    $grid-white: rgb(255,255,255);

    $mobile-breakpoint: 700px;
 



.grid {

    margin: auto;
    font-family: 'DMS-ital';
    display: grid;
    width: 90%;
    min-height: 90vh;
    padding: 30px;
    height: 100vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    column-gap: 20px;
    row-gap: 10px;
    background-color: $background-white;
    
    .box{
        
        border-radius: 10px;
        display: flex;
    }
    .a{
        grid-column: 2 /span 2;
        grid-row: 1/ span 2;
        background-color: $dark-purple;
        color: white;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        i{
            color: $dark-yellow
        }
        .primary-copy{
            text-align:center;
            padding: 15px;
            font-size: 50px;
            span{
                color: $dark-yellow;
            }
        }
    }
    .b {
        grid-column: 2 / span 1;
        grid-row: 3/ span 2;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        font-size: 25px;
        font-weight: 500;
        background-color: $grid-white;
        img{
            width: 90%;
        }
    }
    .c{
        grid-column: 3/ span 1;
        grid-row: 3/ span 2;
        background-color: $dark-yellow;
        flex-direction: column;
        font-size: 25px;
        padding: 10px 10px 0px 10px;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        img{
            width: 50%;
            margin-top:5px;
            
        }
    }
    .d{
        
        grid-column: 4/span 1;
        grid-row: 1/ span 4;
        background-color: $light-purple;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;

        p:nth-of-type(1){
            font-size: 30px;
            text-align: center;
            font-weight: 500;
        }
        img {
            width: 90%;
        }
    }
    .e{
        padding: 40px;
        grid-column: 1/span 1;
        grid-row: 1/ span 3;
        flex-direction: column;
        align-items: center;
        font-size: 30px;
        justify-content: center;
        background-color: $light-yellow;
        font-weight: 500;
        line-height: 25px;;
        .copy{
         margin: 20px;
        em{
            color: $dark-purple
        }   
        }
        .btn{
            font-size: 20px;
            background-color: $dark-yellow;
            padding: 10px;
            border-radius: 25px;
            color: $dark-purple;
            i{
                color: $dark-purple;
            }
        }
    }
    .f {
        grid-column: 3/span 2;
        grid-row: 5/span 2;
        background-color: $dark-purple;
        color: white;
        justify-content: center;
        align-items: center;
        padding: 15px;
        font-size: 30px;
        img{
            height: 80%;
        }
    }
    .g {
        grid-column: 1/span 1;
        grid-row: 4/span 3;
        background-color: $dark-yellow;
        font-size: 2em;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
             width: 90%;
        }
    }
    .h{
        background-color: $grid-white;
        display: flex;
        flex-direction: column;
        grid-column: 2/span 1;
        grid-row: 5/ span 2;
        justify-content: center;
        align-items: center;

        .fifty-six-percent {
            font-size: 50px;
            margin: 0px;
            font-family: 'DMS';
            font-weight: 500;
        }
        img{
            width: 60%;
        }
    }
}

@media (max-width: $mobile-breakpoint) {
    .grid {
        grid-template-rows: 500px;
        display: flex;
        flex-direction: column;
        
    }
}